<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucf.cop4331c.dishdriver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DishDriverApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:screenOrientation="sensorLandscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/AppTheme" idk what this does -->
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LibraryDebugActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".AdminNavigationActivity"
            android:screenOrientation="sensorLandscape" />

        <!--
            activity android:name=".LibraryDebugActivity"
            android:screenOrientation="sensorLandscape"/
        -->

        <activity
            android:name=".TableActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CookActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CreateReviewActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".NavigationActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".AdminEditMenuActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".AdminEditUserActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Admin_email_activity"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>
